*{
     margin: 0;
     padding: 0;
     -webkit-box-sizing: border-box;
     box-sizing: border-box;
     -moz-box-sizing: border-box;
 }
 body {
    font-family: 'K2D', sans-serif;
 }
footer .wrap{
     color: white;
     background-color:rgb(0,36,132);
     text-shadow: none;
     height: 375px;

}
.logo {
    width: 250px;
    height: 150px;
}
.logounah{
    margin-left: 38%;
    margin-right: 40%;
}
.logopie {
    width: 100%;
    height: 150px;
}

.parrafo-pie{
     text-align: center;
}

.wrap2 {
    width: 100%;
    margin: auto;
}
header {
    width: 100%;
    /*box-shadow: 2px 0px 5px rgba(255, 255, 255, 0.979);*/
    background: rgb(0,36,132);
    float: left;
}
header img{
    float: left;
    padding: 20px 0px;;

}
header .logotip h1 {
    float: left;
    font-size: 40px;
    color: white;
    padding: 47px 0px 35px 10px;
}
/*Subencabezado*/
.wrap2 {
    width: 100%;
    height: 100px;
    /*box-shadow: 2px 0px 5px rgba(255, 255, 255, 0.979);*/
    /*background: rgba(38,38,38,0.9);rgb(0,36,132);*/
    background: black;
    opacity: 0.8;
    float: left;
}
div .subtitulo{
    float:left;
    font-size: 35px;
    padding: 24px 0px 15px 50px;
    color:white;
    margin-left: 45px;
    margin-right: 20px;
}
div .menu {
    float:right;
}
.menu a{
    display:inline-block;
    text-decoration: none;
    font-weight: 500;
    font-size:20px;
    color:white;
    position: relative;
    padding: 15px 15px 20px 15px;
    margin-top: 15px;
}
.menu a::after {
    content: '';
    display: block;
    position: absolute;
    bottom: 10px;
    width: 0%;
    height: 3px;
    background: white;
}
.menu a:hover::after {
    width: 85%;
    transition: width 0.3s;
    background: white;
}
.menu a:hover {
    border: 3px solid white;
    border-color:/*#93D002*/white; 
    border-radius: 50px;
}
/*Banner con imagen del rector*/
.banner {
    background-color:rgb(0,36,132);
    /*background-color:rgb(36,196,1);*/
    background-repeat: no-repeat;
    background-size: cover;
    margin-bottom: 50px;
    height: 550px;
    clear: both;/*baja la parte del banner que estaba en el titulo a abajo*/
}
.banner .banner-wrap {
    padding: 250px 0px;
    box-sizing: border-box;
}

.banner .banner-wrap {
    position: relative;
    left:75px;
    width: 350px;
    height: 30px;
    color: white;
    background: linear-gradient(40deg,rgb(0,36,190),white);
    border-radius: 51px 51px 51px 51px;
    -moz-border-radius: 51px 51px 51px 51px;
    -webkit-border-radius: 51px 51px 51px 51px;
    border: 0px solid #000000;
    text-align: center;
}
.banner .banner-wrap .links {
    font-size: 18px;
    color: white;
}

.banner .banner-wrap a{
    color:white;
    display: inline-block;
    width: 220px;
    height: 50px;
    border-radius: 10px;
    background: rgb(0,36,132);
    font-weight: 600;
    padding: 12px;
    text-decoration: none;
    text-align: center;
    font-size: 18px;
    margin-top: 18px;
}
.banner .banner-wrap a:hover{
    background:#242424;
    border-radius: 8px;
}
.links  img{
    left:75px;
    position: absolute;
    width: 200px;
    position: relative;
    top: -200px; /* ajustar los valores para mover la imagen */
}
p .content-plataforma{
    position: absolute;
    padding:-200px;
}
.links {
    width:0;
    height:0;
}
.rector {
    width:450px;
    height: 500px;
    position: relative;
    left: 800px;
    top:-500px;
    border-radius: 8px;
    border: 0px;
}

ul,ol {
    list-style: none;
}
.slideshow {
    width: 100%;
    position: relative;
}
.slider li, ul{
    width: 100%;

}
.slider li img {
    width:100%;
}
.paginacion {
    position: absolute;
    top:93%;
    display: flex;
    justify-content: center;
    width: 100%;
}
/*Circulos del slider*/
.paginacion li{
    font-size: 20px;
    margin: 2px 5px;
    color: red;
    cursor: pointer;

}
.left {
    position: absolute;
}
/*modificar selectores de flecha*/
.left1, .right1{
    position: absolute;
    top: 0;
    height: 100%;
    display: flex;
    align-items: center;
    color: rgb(247, 0, 0);
    font-size: 50px;
}
.left1 {
    left:10px;
}
.right1 {
    right:10px;

}