*{
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
}
body {
    font-family: 'K2D', sans-serif;
}
/*titulos subtitulos e imagen logo unah*/
header{
    width: 100%;
}

.logotipo {
    width: 100%;
    max-width: 1366px;
    margin: auto;
}

.logotipo h1 {
    font-family: 'K2D', sans-serif;
    font-weight: 600;
    color: rgb(0,36,132);
    padding: 15px 0px;
}

.logotipo h2 {
    font-family: 'K2D', sans-serif;
    font-weight: 500;
    color: rgb(0,36,132);
}

.navegacion {
    width: 100%;
    background: rgb(0,36,132);
}

.navegacion nav {
    width: 90%;
    max-width: 1366px;
    margin: auto;
    height: 80px;
}

.boton-menu{
    display: none;
}

.boton-menu span {
    color: #fff;
    font-size: 40px;
    cursor: pointer;
    margin-top: 5px;
    display: block;
}

.menu {
    list-style: none;
    width: 100%;
}

.menu li {
    display: inline-block;
}

.menu li a{
    display: block;
    padding: 25px;
    color: #fff;
    text-decoration: none;
    font-family: 'K2D', sans-serif;
    font-size: 20px;
}
.menu li a:hover{
    background: #FFCC00; 
}

@media screen and (max-width: 1000px){
    .boton-menu{
        width: 90%;
        display: block;
        margin: auto;
        padding: 8px 0px;
    }
    .navegacion nav {
        position: absolute;
        left: -100%;
        width: 250px;
        height: 100%;
        background: #393939;
    }
    .menu li {
        display: block;
    }
     
}

/*para el Footer*/
footer .wrap{
    color: white;
    background-color:rgb(0,36,132);
    text-shadow: none;
    height: 408px;
}
.logo {
   width: 250px;
   height: 150px;
}
.logounah{
   margin-left: 38%;
   margin-right: 40%;
}
.logopie {
   width: 100%;
   height: 150px;
}

.parrafo-pie{
    text-align: center;
}